<template>
  <div>
    <h1>welcome to proctoring test</h1>
    <video id="proctor" autoplay muted style=""></video>
    <canvas id="proctoring" width="200" height="150" hidden></canvas>
    <video ref="localstream" autoplay muted />
    <button @click="startcam()">start cam</button>
  <button @click="stopcam()">stop cam</button>
    <button @click="SendtopythonProcter()">start recording</button>
    <button @click="stoprecord()">stop recording </button> 
  </div>
</template>
<script>
import { io } from "socket.io-client";
import axios from "axios";
import Webcam from "webcam-easy";

// const socket = io("https://proctor.hire3x.com/", {
//   reconnectionDelayMax: 10000,
// });
export default {
  name: "proctoring",
  data() {
    return {
      constraints: {
        audio: false,
        video: {
          mandatory: {
            maxWidth: 640,
            maxHeight: 360,
          },
        },
      },
      
      
    };
  },
  created() {
    
  },
  methods: {
    async startcam() {
      
      this.stream = await navigator.mediaDevices.getUserMedia(this.constraints);
      console.log(this.stream);
      const video = this.$refs.localstream;
      video.srcObject = this.stream;
      this.startscreenshare()
    },
    SendtopythonProcter() {
      setInterval(() => {
        this.captureImage();
      }, 2000);
      // this.captureImage()
    },

    captureImage() {
      const webcamElement = document.getElementById("proctor");
      const canvasElement = document.getElementById("proctoring");
      const webcam = new Webcam(webcamElement, "user", canvasElement);
      webcam
        .start()
        .then(() => {
          // console.log("webcam started", result);
        })
        .catch((err) => {
          console.log(err);
        });
      let picture = webcam.snap();

      var payload = {
        src: picture,
        testId: "newone12",
        userId: "newuserid12",
      };
      // var blob = new Blob( [ src ], { type: "image/jpeg" } );
      // var file = this.dataURLtoFile(src, "selfie.png");
      socket.emit("message", payload);
      console.log(payload);
    },
    stoprecord(){
        socket.disconnect();

    }
    
    
  },
};
</script>
<style scoped></style>
