<template>
    <div class="container">
        <h1> this is proctor page</h1>
        <video ref="input_video" width="50%" height="50%"></video>
        <canvas class="output_canvas" ref="output_canvas" :width="width" :height="height"></canvas>
    </div>
</template>
<script>

import { Camera } from "@mediapipe/camera_utils";
import { drawConnectors, drawLandmarks } from "@mediapipe/drawing_utils";
import { FaceMesh,FACEMESH_FACE_OVAL,FACEMESH_LIPS } from "@mediapipe/face_mesh";


import { io } from "socket.io-client";

const socket = io("ws://localhost:5000", {
  reconnectionDelayMax: 10000,
});

export default {
    name: "HandModel",
    data: function () {
        return {
            number: null,
            ctx: null,
            width: 640,
            height: 480,
            result :null,
            time: null
        };
    },
    computed: {
        inputVideo() {
            return this.$refs.input_video;
        },
        
    },
    mounted() {
        this.canvasElement = this.$refs.output_canvas;
        this.ctx = this.canvasElement.getContext("2d");
        
        setInterval(() => {
            this.init();
            
        }, 5000);
        setInterval(() => {
           
            socket.emit("message",this.result)
            this.result = null;
        }, 2000);
        
    },
    methods: {
        
        init() {
            const faceMesh = new FaceMesh({
                locateFile: (file) => {
                    return `https://cdn.jsdelivr.net/npm/@mediapipe/face_mesh/${file}`;
                }
            });

            faceMesh.setOptions({
                maxNumFaces: 2,
                refineLandmarks: false,
            });
           
                 faceMesh.onResults(this.onResults);
           
            const camera = new Camera(this.inputVideo, {
                onFrame: async () => {
                    await faceMesh.send({ image: this.inputVideo });
                },
                width: 1280,
                height: 720
            });
            camera.start();

        },
        onResults(results) {
            this.ctx.save();
            this.ctx.clearRect(0, 0, this.canvasElement.width, this.canvasElement.height);
            this.ctx.drawImage(
                results.image, 0, 0, this.canvasElement.width, this.canvasElement.height);
            let time = new Date
            let hour = time.getHours()
            let minute = time.getMinutes()
            let second = time.getSeconds()
            this.time = hour + ":" +minute+":"+second
            var payload = {
                'license_key':"L071222A001",
                'marks':results.multiFaceLandmarks ,
                'userid':'exampleuserid' ,
                'testid':'exampletestid' ,
                'attempNo': 1 ,
                'total_time_redis': 60,
                'conversion':this.time
            }
            
            this.result =  payload
               
            
            
            for (const landmarks of results.multiFaceLandmarks) {
                
                // drawConnectors(this.ctx, landmarks, FACEMESH_TESSELATION,
                //     { color: 'C0C0C070', lineWidth: 1 });

                    // drawConnectors(this.ctx, landmarks, FACEMESH_RIGHT_EYE, {color: '#FF3030'});
                    // drawConnectors(this.ctx, landmarks, FACEMESH_RIGHT_EYEBROW, {color: '#FF3030'});
                    // drawConnectors(this.ctx, landmarks, FACEMESH_RIGHT_IRIS, {color: '#FF3030'});
                    // drawConnectors(this.ctx, landmarks, FACEMESH_LEFT_EYE, {color: '#30FF30'});
                    // drawConnectors(this.ctx, landmarks, FACEMESH_LEFT_EYEBROW, {color: '#30FF30'});
                    // drawConnectors(this.ctx, landmarks, FACEMESH_LEFT_IRIS, {color: '#30FF30'});
                    drawConnectors(this.ctx, landmarks, FACEMESH_FACE_OVAL, {color: '#E0E0E0'});
                    drawConnectors(this.ctx, landmarks, FACEMESH_LIPS, {color: '#E0E0E0'});

            }

            this.ctx.restore();
        }

    },
};
</script>