<template>
  <div>
    <h1>welcome to webrtc test</h1>
    <!-- {{ counter }} -->
    <video ref="localstream" autoplay muted />
    <button @click="startcam()">start cam</button>
    <button @click="stopcam()">stop cam</button>
    <button @click="startrecording()">start recording</button>
    <button @click="stoprecord()">stop recording </button>
  </div>
</template>
<script>
import { addSidxSegmentsToPlaylist } from "mpd-parser";
import { io } from "socket.io-client";

const socket = io("ws://localhost:3000", {
  reconnectionDelayMax: 10000,
});

// const socket = io("wss://mediaserver.hire3x.com", {
//   reconnectionDelayMax: 10000,
// });
export default {
  name: "test",
  data() {
    return {
      constraints: {
        audio: false,
        video: {
          frameRate: {
            min: 15,
            ideal: 24,
            max: 30,
          },
        },
      },
      counter:0,
      mediaRecorder:null,
      mediaRecorderScreen:null,
      socketid : "",
      
    };
  },
  created() {

    // setInterval(() => {
    //   this.startcounter()
      
    // }, 1000);
    // this.print_nav_timing_data()
  },
  methods: {
    // print_nav_timing_data() {
    //   var state = history.state || {};
    //   var reloadCount = state.reloadCount || 0;
    //   if (performance.navigation.type === 1) { // Reload
        
    //       state.reloadCount = ++reloadCount;
    //       console.log("reload",reloadCount)
    //       localStorage.setItem("reloadCount", reloadCount)
    //       history.replaceState(state, null, document.URL);
    //       this.startcam()
    //   }
    // // },
    // startcounter(){
      
    //   this.counter = this.counter + 1;
      
    // },
    async startcam() {
      
      this.stream = await navigator.mediaDevices.getUserMedia(this.constraints);
      console.log(this.stream);
      const video = this.$refs.localstream;
      video.srcObject = this.stream;
      this.startscreenshare()
    },
    async startscreenshare(){
      try {
        this.screenstream = await navigator.mediaDevices.getDisplayMedia({
          video: true,
        });
      } catch (e) {
        console.log("Unable to acquire screen capture: " + e);
        this.startscreenshare();
      }
      this.screenstream.getVideoTracks()[0].addEventListener("ended", () => {
        console.log("The user has ended sharing the screen");
        this.startscreenshare();
      });

      console.log(this.screenstream.getVideoTracks()[0]);

      if (this.screenstream.getVideoTracks()[0].readyState == "live") {
        console.log("screenshare started");
        this.startrecording()
      }

    },
    stopcam() {
      if (this.stream) {
        this.stream.getTracks().forEach((track) => {
          track.stop();
        });
        console.log("Camera stopped");
      }
      if (this.screenstream) {
        this.screenstream.getTracks().forEach((track) => {
          track.stop();
          this.stoprecord()
        });
        console.log("Camera stopped");
      }
    },
    startrecording() {
      var stream = this.stream;
      var screenstream = this.screenstream;
      var recordedChunks = [];
      var screenrecordedChunks = [];
      var options = { mimeType: "video/webm;codecs=h264" };
      this.mediaRecorder = new MediaRecorder(stream,options);
      // this.mediarecorder.ondataavailable = (e) => {
      // // Send the mediarecorder blob to the server using an API

      //     let payload = {
      //       blobs :e.data,
      //       userid :"userid",
      //       testid :"testid"
      //     }
      //     let xhr = new XMLHttpRequest();
      //     xhr.open("POST", "http://localhost:3000/saveBlob", true);
      //     xhr.setRequestHeader("Content-Type", "application/octet-stream");
      //     xhr.send(payload);
      //   };
      this.mediaRecorder.ondataavailable = handleDataAvailable;
      this.mediaRecorder.start(1000);
      this.mediaRecorderScreen = new MediaRecorder(screenstream, options);
      function handleDataAvailable(event) {
        console.log("data-available");
        if (event.data.size > 0) {
          
          recordedChunks.push(event.data);
  
          // sendtoserver();
       
        } else {
          console.log("recording didnt start");
        }
      }
      this.mediaRecorderScreen.ondataavailable = handleDataAvailablescreen;
      this.mediaRecorderScreen.start(1000);
      function handleDataAvailablescreen(event) {
        console.log("data-available screen");
        if (event.data.size > 0) {
          screenrecordedChunks.push(event.data);
          console.log("screen",screenrecordedChunks);
          sendtoserver();
        } else {
          console.log("screen recording didnt start");
        }
      }
      function sendtoserver() {
           var blob = new Blob(recordedChunks, {
                type: "video/webm",
            });
            var screenblob = new Blob(screenrecordedChunks, {
              type: "video/webm",
            })
           
            console.log("camerachunk", blob);
            console.log("screenchunk", screenblob);
            var userid = "testuserid2" 
            var testid = "testtestid2" 
            var groupid = "testgroupid2"
            var reloadCount = localStorage.getItem("reloadCount")
            let payload ={ 
              blobs :blob,
              screen:screenblob,
              reloadcount : reloadCount,
              userid :userid,
              testid :testid,
              groupid :groupid,
            }
            
            console.log(blob);
            socket.emit("message",payload);

            recordedChunks = []
            screenrecordedChunks = []

      }
      function  sendAudioFile(){
        var blob = new Blob(recordedChunks, {
                type: "video/webm",
            }); 
            let formData = new FormData();
            var bufferPromise = blob.arrayBuffer();
            blob.arrayBuffer().then(buffer => {
              
              var uint8View = new Uint8Array(buffer);
              console.log(uint8View);
              formData.append('camera',uint8View)
              formData.append('name', 'John');
              formData.append('password', 'John123');
              return fetch('http://localhost:3000/fetch', {
                method: 'POST',
                body: formData
              });
            });

            
           
            
            
        recordedChunks = []
        console.log("@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",recordedChunks);
        
       
      }
    },
    stoprecord(){
      var payload ={
        userid:"testuserid2",
        testid:"testtestid2",
        attemptNo:"1",
        groupid:"testgroupid2"
      }
        socket.emit('forceDisconnect',payload);
        this.mediaRecorder.stop();
        localStorage.removeItem('reloadCount');
       
    },
   
    
  },
};
</script>
<style scoped></style>
